@page
@model GroceryListUI.Pages.Products.AboutUsModel
@{
}

<div class="AddProductBg align-content-md-center mb-4 " style="font:500; font-size:35px; align-content:baseline; text-align: center; ">
    Meet the Grocery List creaters!




</div>

<div class="row align-content-center mb-4 ">

    <div class="col-1" ></div>

    <div class="col-4 AddProductBg  " style="font-size:25px; text-align:center; font:400;">
        Jesse Wilson

    </div>

    <div class="col-2" ></div>

    <div class="col-4 AddProductBg " style="font-size:25px; text-align:center; font:400; " > Seth Buckley

    </div>

    <div class="col-1" ></div>



</div>

<div class="row align-content-center mb-4 ">


    <div class="col-6 " >
        <a href="">
            <img src="https://w0.peakpx.com/wallpaper/233/587/HD-wallpaper-giga-chad-hair-memes.jpg" class="AddProductBg  " style="width:100%;max-width:300px;max-height:300px; display: block;
    margin-left: auto;
    margin-right: auto" /></a>
    </div>


    <div class="col-6">
        <a href="https://www.heb.com/digital-coupon/coupon-selection">
            <img src="https://melmagazine.com/wp-content/uploads/2021/01/66f-1.jpg" class="AddProductBg  " style="width:100%;max-width:300px;max-height:300px; display: block;
    margin-left: auto;
    margin-right: auto " /></a>
    </div>



</div>

<div class="row align-content-center mb-4 ">

    <div class="col-1"></div>

    <div class="col-4 AddProductBg  " style="font-size:25px; text-align:center; font:400;">
        You know who I am.

    </div>

    <div class="col-2"></div>

    <div class="col-4 AddProductBg " style="font-size:25px; text-align:center; font:400; ">
        No introduction needed.

    </div>

    <div class="col-1"></div>



</div>