@page
@model GroceryListUI.Pages.Products.CouponsModel
@{
}

<div class="AddProductBg align-content-md-center mb-4 " style="font:500; font-size:35px; align-content:baseline; text-align: center; ">
    Click for Coupons




</div>

<div class="row align-content-center mb-4 ">


    <div class="col-4 " >
        <a href="https://www.walmart.com/help/article/print-and-use-coupons/205b65e070f247d7a98687b7ff2d5cc9">
            <img src="https://cdn.mos.cms.futurecdn.net/5StAbRHLA4ZdyzQZVivm2c.jpg" class="AddProductBg  " style="width:100%;max-width:300px; display: block;
    margin-left: auto;
    margin-right: auto" /></a>
    </div>

    <div class="col-4">
        <a href="https://www.target.com/c/top-deals/-/N-4xw74">
            <img src="https://shop-eat-surf.com/wp-content/uploads/2020/11/target-logo-resized.jpg" class="AddProductBg  " style="width:100%;max-width:300px; display: block;
    margin-left: auto;
    margin-right: auto" /></a>
    </div>

    <div class="col-4">
        <a href="https://www.heb.com/digital-coupon/coupon-selection    ">
            <img src="https://logos-world.net/wp-content/uploads/2022/02/HEB-Symbol.png" class="AddProductBg  " style="width:100%;max-width:300px; display: block;
    margin-left: auto;
    margin-right: auto " /></a>
    </div>



</div>

<div class="row align-content-center ">


    <div class="col-4 " >
        <a href="https://www.kroger.com/savings/cl/coupons/">
            <img src="https://logos-world.net/wp-content/uploads/2021/09/Kroger-Symbol.png" class="AddProductBg  " style="width:100%;max-width:300px; display: block;
    margin-left: auto;
    margin-right: auto" /></a>
    </div>

    <div class="col-4">
        <a href="https://www.cvs.com/content/coupon-center">
            <img src="https://logos-world.net/wp-content/uploads/2021/08/CVS-Symbol.png" class="AddProductBg  " style="width:100%;max-width:300px; display: block;
    margin-left: auto;
    margin-right: auto" /></a>
    </div>

    <div class="col-4">
        <a href="https://www.walgreens.com/offers/offers.jsp    ">
            <img src="https://1000logos.net/wp-content/uploads/2021/11/Walgreens-logo.png" class="AddProductBg  " style="width:100%;max-width:300px; display: block;
    margin-left: auto;
    margin-right: auto " /></a>
    </div>



</div>

